<div *ngIf="post && comments" [class]="style">
  <p
    *ngIf="comments.length < post.commentsCount"
    (click)="viewPostComments(post._id)"
    class="view-comments"
  >
    {{ viewCommentsText }}
  </p>
  <div *ngIf="post.commentsCount" class="post--comments">
    <div
      *ngFor="let comment of comments"
      [class]="getCommentClass(comment.commentedBy.username)"
    >
      <p>
        <b (click)="viewUserProfile(comment.commentedBy.username)">{{
          comment.commentedBy.username
        }}</b
        >{{ comment.text }}
      </p>
    </div>
  </div>
  <div class="add-comment">
    <img
      [lazyLoad]="authUser.photoThumb"
      [defaultImage]="'assets/images/portrait.jpg'"
      [errorImage]="'assets/images/portrait.jpg'"
      [alt]="authUser.username"
      height="40"
      width="40"
    />
    <form (ngSubmit)="emitAddComment()">
      <input [(ngModel)]="commentText" placeholder="Add comment.." name="text" />
    </form>
  </div>
  <div class="post--item-time">{{ post.createdAt | date }}</div>
</div>
