.post--item-time {
  margin: 0 1rem;
  font-size: 0.9rem;
  color: #b7b7b7;
}
p {
  &.view-comments {
    cursor: pointer;
    margin: 0 1rem;
    color: #a9a9a9;
    width: fit-content;
  }
}
.post--comments {
  margin: 0 1rem;
}
.comment p {
  b {
    cursor: pointer;
    margin-right: 0.5rem;
  }
  width: fit-content;
}
.add-comment {
  margin: 0.5rem 1rem;
  display: flex;
  align-items: center;
  img {
    border-radius: 50%;
    object-fit: cover;
  }
  p {
    cursor: pointer;
    margin-left: 1rem;
    color: #a9a9a9;
  }
}
form {
  width: 100%;
}
input {
  height: 3rem;
  font-size: 1.2rem;
  width: inherit;
  padding: 0 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: #fff;
}
// alternative style
.alternative {
  .commentsPlaceholder {
    height: 10rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .post--comments .comment {
    margin: 0.5rem 0;
  }
  .comment {
    display: flex;
    img {
      margin-right: 1rem;
      border-radius: 50%;
      cursor: pointer;
    }
    p {
      display: flex;
      flex-direction: column;
      background-color: #f1f1f1;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      border-top-left-radius: 0;
      b {
        width: fit-content;
        font-size: 0.9rem;
        margin-right: unset;
      }
    }
    &.self {
      justify-content: flex-end;
      img {
        margin-right: unset;
        margin-left: 1rem;
        order: 2;
      }
      p {
        align-items: flex-end;
        background-color: #d4e6f5;
        border-top-left-radius: 1rem;
        border-top-right-radius: 0;
      }
    }
  }
  .add-comment {
    margin: 1rem;
  }
}
