<!-- home header -->
<div class="home__header">
  <div class="logo--text">instAngular</div>
  <button mat-icon-button class="logo--message">
    <mat-icon>message</mat-icon>
  </button>
</div>

<!-- home story list -->
<ul class="stories--list">
  <app-story [user]="firstStoryItem" [enableAddIcon]="true"></app-story>
  <ng-container *ngFor="let story of stories">
    <app-story [user]="story.user" [storyIds]="story.storyIds"></app-story>
  </ng-container>
</ul>

<!-- home post list -->
<div class="posts--list">
  <ng-container *ngFor="let post of (posts$ | async)">
    <app-post-item [post]="post"></app-post-item>
  </ng-container>
</div>

<!-- home load more posts -->
<div class="load--more">
  <button mat-icon-button>
    <mat-icon>more</mat-icon>
  </button>
</div>
