<!-- page header -->
<app-page-header
  [title]="'instAngular'"
  [style]="'sticky'"
  [icon]="'message'"
  (onIconClicked)="showMessages()"
></app-page-header>

<!-- home story list -->
<ul class="stories--list">
  <ng-container *ngFor="let story of stories">
    <app-story
      [user]="story.user"
      [storyIds]="story.storyIds"
      [enableBorder]="checkIfHasStoriesActive(story.storyIds)"
      [enableIcon]="checkSelfUser(story.user.username)"
    ></app-story>
  </ng-container>
</ul>

<!-- home post list -->
<div class="posts--list">
  <ng-container *ngFor="let post of posts$ | async">
    <app-post-card
      [post]="post"
      (onUserProfileClicked)="viewUserProfile($event)"
    >
      <app-post-card-footer
        [post]="post"
        [comments]="post.comments"
        [authUser]="authUser"
        [viewCommentsText]="'View all ' + post.commentsCount + ' comments'"
        (onViewCommentsClicked)="viewPostComments($event)"
        (onUserProfileClicked)="viewUserProfile($event)"
        (onAddCommentClicked)="addComment($event)"
      ></app-post-card-footer>
    </app-post-card>
  </ng-container>
</div>

<!-- home load more posts -->
<div class="load--more">
  <button mat-icon-button>
    <mat-icon>more</mat-icon>
  </button>
</div>
