.nowLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  h1 {
    margin: 0;
  }
}
.post-comments__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}
.header--text,
.header--icon-right {
  font-size: 2rem;
  font-weight: bold;
}
.header--text {
  margin-left: 1.5rem;
}
.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  .header--text {
    margin-left: unset;
  }
}