<app-page-header [title]="'Comments'" [style]="'sticky'"></app-page-header>

<div *ngIf="isPostLoading$ | async; else postCard" class="placeholder">
  <h1>🎵🎵</h1>
</div>

<div *ngIf="isPostHttpError$ | async" class="placeholder">
  <h1>🎵🎵</h1>
</div>

<ng-template #postCard>
  <app-post-card
    [post]="post$ | async"
    (onUserProfileClicked)="viewUserProfile($event)"
  >
    <app-comments
      [post]="post$ | async"
      [comments]="comments$ | async"
      [authUser]="authUser$ | async"
      [isCommentsLoading]="isCommentsLoading$ | async"
      (onViewCommentsClicked)="viewPreviousComments($event)"
      (onViewRepliesClicked)="viewCommentReplies($event)"
      (onUserProfileClicked)="viewUserProfile($event)"
      (onAddCommentClicked)="addComment($event)"
    ></app-comments>
  </app-post-card>
</ng-template>
