<app-page-header
  [title]="'Comments'"
  [style]="'sticky'"
></app-page-header>

<app-post-item
  [post]="post$ | async"
  (onUserProfileClicked)="viewUserProfile($event)"
>
  <app-post-item-footer
    [style]="'alternative'"
    [post]="post$ | async"
    [comments]="comments"
    [authUser]="authUser"
    [viewCommentsText]="'View previous comments'"
    (onViewCommentsClicked)="viewPreviousComments($event)"
    (onUserProfileClicked)="viewUserProfile($event)"
    (onAddCommentClicked)="addComment($event)"
  >
  </app-post-item-footer>
</app-post-item>
