.closeDialog {
  float: right;
}
.container {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  mat-icon {
    font-size: 5rem !important;
  }
}
.select__button,
.image__preview {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 10px solid #ffa7c5;
  position: relative;
}
.image__preview {
  padding: 10px;
  &:hover {
    .change__backdrop {
      display: flex;
    }
  }
  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .change__backdrop {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    // background-color: #00000066;
    background-color: #ffe1eb59;
    backdrop-filter: blur(5px);
    color: #f1f1f1;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
  }
}
.upload__button {
  margin-top: 1rem;
  height: 3rem;
  width: 10rem;
  font-weight: bold;
  border-radius: 2rem;
}