<div class="post--item">
  <div class="post--item-header">
    <img
      [lazyLoad]="post?.author?.profilePicture"
      [defaultImage]="defaultPortrait"
      [errorImage]="errorImagePath"
      class="pointer"
      [alt]="post?.author?.username"
      height="40"
      width="40"
    />
    <a href="#">{{ post?.author?.username }}</a>
    <div class="fx-spacer"></div>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="post--item-image">
    <!-- <div *ngIf="true" class="placeholder"></div> -->
    <img 
      [defaultImage]="post?.thumbnail"
      [lazyLoad]="post?.image"
      [errorImage]="errorImagePath"
      class="blur"
      alt="post alt text"
    />
  </div>
  <div class="post--item-buttons">
    <button mat-icon-button class="active">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button><mat-icon>message</mat-icon></button>
    <button mat-icon-button><mat-icon>share</mat-icon></button>
    <div class="fx-spacer"></div>
    <button mat-icon-button><mat-icon>save</mat-icon></button>
  </div>
  <div class="post--item-likes">
    <p>Liked by <b>davidbradley6</b> and <b>millions of others</b></p>
  </div>
  <div class="post--item-description">
    <p>
      <b>dualipa</b>&nbsp; {{ post?.description }}, Bts
      shot by <span class="mention">@nixielevinson</span>
    </p>
  </div>
  <p class="view-comments">View all 1,343 comments</p>
  <div class="add-comment">
    <img
      [lazyLoad]="post?.author?.profilePicture"
      [defaultImage]="defaultPortrait"
      [errorImage]="errorImagePath"
      [alt]="post?.author?.username"
      height="40"
      width="40"
    />
    <p>Add a comment...</p>
  </div>
  <div class="post--item-time">{{ post?.createdAt | date }}</div>
</div>
