.post-card--header {
  display: flex;
  align-items: center;
  margin: 1rem;
  a {
    cursor: pointer;
  }
}
.photo--container {
  margin-right: 0.5rem;
  height: 40px;
  width: 40px;
  padding: 3px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  &.active {
    border: 2px solid red !important;
  }
  img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}
.post-card--texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timestamp {
  margin-top: .2rem;
  font-size: 0.9rem;
  color: #b7b7b7;
}
.fx-spacer {
  flex: auto;
}