.post-card--header {
  display: flex;
  align-items: center;
  margin: 1rem;
  a {
    cursor: pointer;
  }
}
.post-card--texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timestamp {
  margin-top: .2rem;
  font-size: 0.9rem;
  color: #b7b7b7;
}
.fx-spacer {
  flex: auto;
}