<div *ngIf="post" class="post-card--header">
  <app-user-avatar
    [user]="post.postedBy"
    [clickable]="true"
    [bordered]="true"
    (clickUser)="onClickUser($event)"
  ></app-user-avatar>

  <div class="post-card--texts">
    <a (click)="onClickUser(post.postedBy)">
      {{ post.postedBy.username }}
    </a>
    <div class="timestamp">
      {{ post.createdAt | relativeTime }}
    </div>
  </div>
  <div class="fx-spacer"></div>
  <!-- <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button> -->
  <app-menu-actions
    [key]="post._id"
    [canEdit]="enableEdit"
    [canDelete]="enableDelete"
    (onClickedEdit)="clickMenuEdit($event)"
    (onClickedDelete)="clickMenuDelete($event)"
  ></app-menu-actions>
</div>
