<!-- page header -->
<app-page-header
  [title]="'instAngular'"
  [style]="'sticky'"
  [icon]="'message'"
  (onIconClicked)="showMessages()"
></app-page-header>

<!-- home story list -->
<ul class="stories--list">
  <ng-container *ngFor="let story of stories">
    <isg-story
      [user]="story.user"
      [storyIds]="story.storyIds"
      [enableBorder]="checkIfHasStoriesActive(story.storyIds)"
      [enableIcon]="checkSelfUser(story.user.username)"
    ></isg-story>
  </ng-container>
</ul>

<!-- home post list -->
<div class="posts__list">
  <ng-container *ngFor="let post of posts">
    <nsg-post-card [post]="post" [authUser]="authUser">
      <!-- post comments previews -->
      <div class="post__comments" *ngIf="post.comments?.length">
        <p class="viewComments" (click)="viewPostComments(post._id)">
          View all {{ post.commentsCount }} comments
        </p>
        <p class="truncate1" *ngFor="let comment of post.comments | slice: 0:2">
          <b (click)="viewUserProfile(comment.commentedBy.username)">
            {{ comment.commentedBy.username }}
          </b>
          {{ comment.text }}
        </p>
      </div>
    </nsg-post-card>
  </ng-container>
</div>

<!-- home load more posts -->
<div class="load--more">
  <button mat-icon-button>
    <mat-icon>more</mat-icon>
  </button>
</div>
