.fx-spacer {
  flex: auto;
}
.post--item {
  margin-top: 1rem;
}
.post--item-header {
  display: flex;
  align-items: center;
  margin: 1rem;
  .photo--container {
    margin-right: 0.5rem;
    height: 40px;
    width: 40px;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    &.active {
      height: 33px;
      width: 33px;
      border: 3px solid red !important;
    }
  }
  img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  a {
    cursor: pointer;
  }
}
.post--item-image {
  position: relative;
  width: 100%;
  .placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000027;
    backdrop-filter: blur(10px);
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
.post--item-buttons {
  display: flex;
  margin: 1rem;
  button {
    margin-right: 1rem;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    &.active mat-icon {
      color: #f00;
    }
  }
}
.post--item-likes,
.post--item-description {
  margin: 0 1rem;
  b,
  .mention {
    cursor: pointer;
  }
}
.post--item-likes {
  display: flex;
  align-items: center;
  .photos {
    /** DONT TOUH THESE **/
    position: relative;
    height: 2rem;
    width: calc(25px * 2 + 6px);
    img {
      position: absolute;
      border-radius: 50%;
      border: 3px solid white;
      width: 25px;
      height: 25px;
      top: 0;
      left: 0;
      &:nth-child(2) {
        left: 10px;
      }
      &:nth-child(2) {
        left: 20px;
      }
    }
  }
  .username,
  .count {
    font-weight: bold;
  }
  // mobile
  @media (max-width: 777px) {
    .photos {
      display: none;
    }
  }
}
.post--item-description {
  span.mention {
    color: #3797f1;
  }
}
p.view-comments {
  cursor: pointer;
  margin: 0 1rem;
  color: #a9a9a9;
}
.add-comment {
  margin: 1rem;
  display: flex;
  align-items: center;
  img {
    border-radius: 50%;
    object-fit: cover;
  }
  p {
    cursor: pointer;
    margin-left: 1rem;
    color: #a9a9a9;
  }
}
.post--item-time {
  margin: 0 1rem;
  font-size: 1rem;
  color: #a9a9a9;
}
