h5 {
  margin: 1rem;
}
small {
  font-weight: bold;
  color: red;
  margin-left: 1rem;
}
form {
  max-width: 500px;

  input, textarea {
    width: calc(100% - 2rem);
    background-color: #f1f1f1;
    border: 1rem solid #f1f1f1;
    border-radius: 2rem;
    outline: none;
    margin-bottom: 1rem;
  }
  textarea {
    border-radius: 1rem;
    font-weight: bold;
  }
}
.form__action__buttons {
  margin-top: 1rem; 
  button {
    height: 2.5rem;
    width: 7rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 2rem;
    margin-right: 1rem;

    @media(max-width: 777px) {
      width: 8rem;
      font-size: 1rem;
    }
  }
}