.post--item {
  margin: 1rem 0;
}
.post--item-image {
  position: relative;
  width: 100%;
  .placeholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000027;
    backdrop-filter: blur(10px);
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
.post--item-likes,
.post--item-description {
  margin: 0 1rem;
  b,
  .mention {
    cursor: pointer;
  }
}
.post--item-likes {
  display: flex;
  align-items: center;
  .photos {
    /** DONT TOUH THESE **/
    position: relative;
    height: 2rem;
    width: calc(25px * 2 + 6px);
    img {
      position: absolute;
      border-radius: 50%;
      border: 3px solid white;
      width: 25px;
      height: 25px;
      top: 0;
      left: 0;
      &:nth-child(2) {
        left: 10px;
      }
      &:nth-child(2) {
        left: 20px;
      }
    }
  }
  .username,
  .count {
    font-weight: bold;
  }
  // mobile
  @media (max-width: 777px) {
    .photos {
      display: none;
    }
  }
}
.post--item-description {
  span.mention {
    color: #3797f1;
  }
}
.addCommentField {
  padding: 0 1rem;
  background-color: #fff;
  &.sticky {
    display: block;
    position: sticky;
    bottom: 0;
    width: -webkit-fill-available;
    box-shadow: 0px -5px 20px -6px #00000033;
  }
}