// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$instangular-primary: mat-palette($mat-indigo);
$instangular-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$instangular-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$instangular-theme: mat-light-theme(
  (
    color: (
      primary: $instangular-primary,
      accent: $instangular-accent,
      warn: $instangular-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($instangular-theme);

/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.ng-lazyloading.blur {
  filter: blur(3px);
  transition: all 2s ease-in-out;
}
.ng-lazyloaded.blur {
  transition: all 2s;
}
img {
  background-color: #f5f5f5;
}
mat-icon {
  font-size: 1.8rem !important;
  height: unset !important;
  width: unset !important;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #464646;
}
.pointer {
  cursor: pointer;
}
p {
  line-height: 2rem;
  margin: 0;
}
.load--more {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}
.txt-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1;
  max-height: 1 * 1;
}

// mobile
@media (max-width: 777px) {
  .App {
    font-size: 1rem !important;
  }
  .app__body {
    height: 100vh !important;
    width: 100vw !important;
    flex-direction: column-reverse !important;
  }
  .sidebar {
    flex-direction: unset !important;
    height: unset !important;
    flex: unset !important;
    width: 100% !important;
  }
  .sidebar > * {
    padding: 1rem !important;
    flex: 1 !important;
    &:nth-last-child(1) { //settings button
      display: none !important;
    }
  }
  .sidebar__header {
    display: none !important;
  }
  .sidebar__menu--list {
    font-size: unset !important;
  }
  p {
    line-height: 1.6rem !important;
  }
  .stories--list {
    padding: 0 !important;
  }
  .post--item-header .photo--container {
    border: 2px !important;
  }
}
