@import "~@angular/material/theming";
@include mat-core();

$instangular-primary: mat-palette($mat-indigo);
$instangular-accent: mat-palette($mat-pink, A200, A100, A400);

$instangular-warn: mat-palette($mat-red);

$instangular-theme: mat-light-theme(
  (
    color: (
      primary: $instangular-primary,
      accent: $instangular-accent,
      warn: $instangular-warn,
    ),
  )
);

@include angular-material-theme($instangular-theme);

@import "~material-design-icons/iconfont/material-icons.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ng-lazyloading.blur {
  filter: blur(3px);
  transition: all 2s ease-in-out;
}

.ng-lazyloaded.blur {
  transition: all 2s;
}

img {
  background-color: #f5f5f5;
}

mat-icon {
  font-size: 1.8rem !important;
  height: unset !important;
  width: unset !important;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #464646;
}

.pointer {
  cursor: pointer;
}

p {
  line-height: 2rem;
  margin: 0;
}

.load--more {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.txt-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

input {
  color: #666;
  background-color: whitesmoke;
}

// mobile
@media (max-width: 777px) {
  .App {
    font-size: 1rem !important;
  }

  .app__body {
    height: 100vh !important;
    width: 100vw !important;
    flex-direction: column-reverse !important;
  }

  .sidebar {
    flex-direction: unset !important;
    height: unset !important;
    flex: unset !important;
    width: 100% !important;
  }

  .sidebar > * {
    padding: 0.7rem !important;
    flex: 1 !important;
  }

  .sidebar__header {
    display: none !important;
  }

  .sidebar__menu--list {
    font-size: unset !important;
  }

  p {
    line-height: 1.6rem !important;
  }

  .post--item-header .photo--container {
    border: 2px !important;
  }

  input {
    font-size: 1rem !important;
  }
}

.truncate1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.truncate3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

section {
  margin: 1rem;
}

.container {
  margin: 1rem;
}

.rad-card {
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: -1px 4px 20px -6px #00000033;

  @media (max-width: 777px) {
    padding: 1rem;
  }
}

.updatePostPanel .mat-dialog-container {
  padding: 0;

  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.dialogPanel {
  .mat-dialog-container {
    position: relative;
    padding: 1rem;
  }
  .dialog__header {
    height: 3rem;
  }
  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}

.error-notification-overlay {
  color: #eeeeee;
  background-color: #8b1c1c;
}

.info-notification-overlay {
  color: #222222;
  background-color: #3ba8c9;
}

.success-notification-overlay {
  color: #eeeeee;
  background-color: #23813b;
}

.warning-notification-overlay {
  color: #222222;
  background-color: #cbe636;
}
