<div class="comment__item" *ngIf="comment">
  <div class="user__photo__container">
    <img
      [lazyLoad]="comment.commentedBy.photoThumb"
      [defaultImage]="'assets/images/portrait.jpg'"
      [errorImage]="'assets/images/portrait.jpg'"
      (click)="clickUsername(comment.commentedBy.username)"
      alt=""
      height="40"
      width="40"
    />
  </div>
  <div class="column">
    <!-- comment__box -->
    <div>
      <div [class]="bgClass">
        <small (click)="clickUsername(comment.commentedBy.username)">
          {{ comment.commentedBy.username }}
        </small>
        <p>{{ comment.text }}</p>
      </div>
      <div class="comment__actions">
        <div class="time">
          {{ comment.createdAt | relativeTime: "short" }}
        </div>
        <div (click)="clickReact(comment._id)" class="react">React</div>
        <div (click)="clickReply(comment._id)" class="reply">Reply</div>
        <div
          (click)="clickReactionsCount(comment._id)"
          class="reactions__count"
          *ngIf="comment.reactionsCount"
        >
          ❤ {{ comment.reactionsCount }}
        </div>
      </div>
    </div>
    <!-- comment__replies -->
    <ng-content></ng-content>
    <!-- <ng-container *ngIf="comment.replies && comment.replies.length">
      <nsg-replies-preview
        [commentId]="comment._id"
        [replies]="comment.replies"
        [repliesCount]="comment.repliesCount"
        (onViewRepliesClicked)="clickViewReplies($event)"
      >
      </nsg-replies-preview>
    </ng-container> -->
  </div>
</div>
