<div class="comment__item" *ngIf="comment">
  <app-user-avatar
    [user]="comment.commentedBy"
    [clickable]="true"
    (clickUser)="showUser($event)"
  ></app-user-avatar>

  <div class="column">
    <!-- comment__box -->
    <div>
      <div [class]="bgClass">
        <small (click)="showUser(comment.commentedBy)">
          {{ comment.commentedBy.username }}
        </small>
        <p>{{ comment.text }}</p>
      </div>
      <div class="comment__actions">
        <div class="time">
          {{ comment.createdAt | relativeTime: "short" }}
        </div>
        <div
          *ngIf="!comment.myReaction; else reactionsList"
          (click)="onClickReact(comment._id)"
          class="react"
        >
          React
        </div>
        <ng-template #reactionsList>
          <div
            *ngIf="comment.myReaction?.variant === 'like'"
            (click)="onClickReact(comment._id)"
            class="react like"
          >
            👍🏻 like
          </div>
          <div
            *ngIf="comment.myReaction?.variant === 'love'"
            (click)="onClickReact(comment._id)"
            class="react love"
          >
            ❤ love
          </div>
          <div
            *ngIf="comment.myReaction?.variant === 'haha'"
            (click)="onClickReact(comment._id)"
            class="react haha"
          >
            😂 haha
          </div>
          <div
            *ngIf="comment.myReaction?.variant === 'huhu'"
            (click)="onClickReact(comment._id)"
            class="react huhu"
          >
            😢 huhu
          </div>
          <div
            *ngIf="comment.myReaction?.variant === 'angry'"
            (click)="onClickReact(comment._id)"
            class="react angry"
          >
            💢 angry
          </div>
          <div
            *ngIf="comment.myReaction?.variant === 'care'"
            (click)="onClickReact(comment._id)"
            class="react care"
          >
            🥴 care
          </div>
        </ng-template>
        <div (click)="onClickReply(comment._id)" class="reply">Reply</div>
        <div
          (click)="onClickReactionsCount(comment._id)"
          class="reactions__count"
          *ngIf="comment.reactionsCount"
        >
          🚩 {{ comment.reactionsCount }}
        </div>
      </div>
    </div>
    <!-- comment__replies -->
    <ng-content></ng-content>
  </div>
</div>
