<div *ngIf="user$ | async as user" class="user-profile">
  <!-- page header -->
  <app-page-header [title]="user.username">
    <!-- settings menu -->
    <div class="settings__menu">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="settings menu"
      >
        <mat-icon>settings</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item (click)="goToAccountSettings()">
            <mat-icon>account_circle</mat-icon>
            <span>Account</span>
          </button>
          <button mat-menu-item (click)="logoutUser()">
            <mat-icon color="warn">whatshot</mat-icon>
            <span>Logout</span>
          </button>
        </ng-template>
      </mat-menu>
    </div>
  </app-page-header>

  <!-- user-profile intro -->
  <section class="intro">
    <div class="intro--header">
      <div class="photo">
        <div class="photo-container bordered pointer">
          <img
            [lazyLoad]="user.photo"
            [defaultImage]="'assets/images/portrait.jpg'"
            [errorImage]="'assets/images/portrait.jpg'"
            [alt]="user.username"
            height="200"
            width="200"
          />
        </div>
      </div>
      <div class="postsCount">
        <h3>{{ user.postsCount }}</h3>
        <span>Posts</span>
      </div>
      <div class="followersCount">
        <h3>{{ user.followersCount || 0 }}</h3>
        <span>Followers</span>
      </div>
      <div class="followingsCount">
        <h3>{{ user.followingsCount || 0 }}</h3>
        <span>Following</span>
      </div>
    </div>
    <div class="intro--body">
      <div class="name">{{ user.name }}</div>
      <div class="bio">{{ user.bio }}</div>
      <div class="socialLinks">
        <div *ngIf="user.websiteLink" class="socialLinkItem">
          <a href="#">{{ user.websiteLink | truncate: 15 }}</a>
        </div>
        <div *ngIf="user.facebookLink" class="socialLinkItem">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>&nbsp;
          <a href="#">{{ user.facebookLink | truncate: 15 }}</a>
        </div>
        <div *ngIf="user.twitterLink" class="socialLinkItem">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>&nbsp;
          <a href="#">{{ user.twitterLink | truncate: 15 }}</a>
        </div>
        <div *ngIf="user.githubLink" class="socialLinkItem">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>&nbsp;
          <a href="#">{{ user.githubLink | truncate: 15 }}</a>
        </div>
      </div>
    </div>
    <div *ngIf="isSelf$ | async" class="intro--footer">
      <button (click)="editProfile(user._id)" mat-stroked-button>
        Edit Profile
      </button>
    </div>
  </section>

  <!-- user-profile posts container -->
  <section *ngIf="posts$ | async as posts" class="posts">
    <div *ngFor="let post of posts" class="user-posts__list--item">
      <div class="backdrop"></div>
      <img
        [lazyLoad]="post.image"
        [defaultImage]="post.thumbnail"
        [errorImage]="'assets/images/post.jpeg'"
        [alt]="post.postedBy?.username"
        height="720"
        width="720"
      />
    </div>
  </section>
</div>

<div *ngIf="isLoading$ | async" class="placeholder">
  <h2>🎵 🎵 🎵</h2>
</div>

<div *ngIf="httpError$ | async as httpError" class="placeholder">
  <h1>{{ httpError?.status }}</h1>
  <h2>😅 {{ httpError?.statusText }} 😅</h2>
</div>
