<ng-container *ngIf="post">
  <app-page-header
    [title]="pageHeaderTitle"
    [style]="'sticky'"
  ></app-page-header>

  <div *ngIf="isPostLoading$ | async; else postCard" class="placeholder">
    <h1>🎵🎵</h1>
  </div>

  <ng-template #postCard>
    <app-post-card [post]="post" [authUser]="authUser">
      <div class="comment__paginator">
        <p *ngIf="postCommentsHasNext$ | async" (click)="onViewMoreComments(post._id)">
          View previous {{ postCommentsRemaining$ | async }} comments
        </p>
      </div>
      <app-comments-list
        *ngIf="post.commentsCount"
        [authUser]="authUser"
        [comments]="comments$ | async"
        [isLoading]="isCommentsLoading$ | async"
        (clickViewReplies)="viewCommentReplies($event)"
        (clickUser)="showUser($event)"
      ></app-comments-list>
    </app-post-card>
  </ng-template>
</ng-container>
