<ng-container *ngIf="post">
  <app-page-header
    [title]="pageHeaderTitle"
    [style]="'sticky'"
  ></app-page-header>

  <div *ngIf="isPostLoading$ | async; else postCard" class="placeholder">
    <h1>🎵🎵</h1>
  </div>

  <ng-template #postCard>
    <app-post-card
      [post]="post"
      [authUser]="authUser"
    >
      <app-comments-list
        [post]="post"
        [authUser]="authUser"
        [comments]="comments$ | async"
        [commentsHasNextPage]="postCommentsHasNext$ | async"
        [isCommentsLoading]="isCommentsLoading$ | async"
        (onViewCommentsClicked)="viewPreviousComments($event)"
        (onViewRepliesClicked)="viewCommentReplies($event)"
        (clickUser)="showUser($event)"
      ></app-comments-list>
    </app-post-card>
  </ng-template>
</ng-container>
