.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  h1 {
    margin: 0;
  }
}
.comment__paginator {
  cursor: pointer;
  margin: .5rem 1rem 0;
  width: fit-content;
  font-weight: bold;
  .p {
    color: #5f5f5f;
  }
}