<div *ngIf="post" class="post--item">
  <div class="post--item-header">
    <div class="photo--container active">
      <img
        [lazyLoad]="post.postedBy.photoThumb"
        [defaultImage]="'assets/images/portrait.jpg'"
        [errorImage]="'assets/images/portrait.jpg'"
        [alt]="post.postedBy.username"
      />
    </div>
    <a (click)="viewUserProfile(post.postedBy.username)">{{ post.postedBy.username }}</a>
    <div class="fx-spacer"></div>
    <button mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="post--item-image">
    <!-- <div *ngIf="true" class="placeholder"></div> -->
    <img
      [defaultImage]="post.thumbnail"
      [lazyLoad]="post.image"
      [errorImage]="errorImagePath"
      class="blur"
      alt="post alt text"
    />
  </div>
  <div class="post--item-buttons">
    <button mat-icon-button class="active">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button><mat-icon>message</mat-icon></button>
    <button mat-icon-button><mat-icon>share</mat-icon></button>
    <div class="fx-spacer"></div>
    <button mat-icon-button><mat-icon>save</mat-icon></button>
  </div>
  <div *ngIf="post.reactions?.length > 0" class="post--item-likes">
    <div class="label">Reacted by&nbsp;</div>
    <div class="photos pointer">
      <img src="assets/images/portrait.jpg" [alt]="post.reactions[0].reactedBy.username"/>
      <img src="assets/images/portrait.jpg" [alt]="post.reactions[0].reactedBy.username"/>
      <img src="assets/images/portrait.jpg" [alt]="post.reactions[0].reactedBy.username"/>
    </div>
    <ng-container *ngFor="let reaction of post.reactions; index as idx">
      <span class="username pointer">{{ reaction.reactedBy.username }}</span>
      {{ (idx == post.reactions?.length - 1) ? ' ' : ', ' }}
    </ng-container>
    <div *ngIf="false">
      &nbsp;and <span class="count pointer">hundreds of others</span>
    </div>
    <span class="count" *ngIf="reactionsCount > 2">
      &nbsp;and <b>{{ reactionsCount - 1 }} others</b>
    </span>
  </div>
  <div class="post--item-description">
    <p>
      <b (click)="viewUserProfile(post.postedBy.username)">{{ post.postedBy.username }}</b>
      &nbsp;{{ post.description }} 
      <!-- Taken by
      <span class="mention">@traxex</span> -->
    </p>
  </div>
  <ng-content></ng-content>
</div>
