.page__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}
.header--text,
.header--icon-right {
  font-size: 2rem;
  font-weight: bold;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 3;
  box-shadow: -1px 4px 20px -6px #00000033;
}
.center {
  width: 100%;
  text-align: center;
}