<app-page-header
  [title]="pageHeaderTitle"
  [style]="'sticky'"
  [fontSize]="'1rem'"
  [icon]="'visibility'"
  (onIconClicked)="showPost(comment.postRef?._id)"
></app-page-header>

<!-- comment rows -->
<section>
  <app-comment-row
    *ngIf="comment"
    [comment]="comment"
    (clickReact)="openReactionDialog($event, 'COMMENT')"
    (clickReply)="replyToComment($event)"
    (clickReactionsCount)="showCommentReactions($event)"
  >
  </app-comment-row>
</section>

<section *ngIf="comment?.replies?.length">
  <!-- view prev replies -->
  <div class="paginator">
    <p
      *ngIf="replies.length < comment.repliesCount"
      (click)="viewPreviousCommentReplies(comment._id)"
    >
      View previous
      {{ comment.repliesCount - comment.replies.length }} replies
    </p>
  </div>
  <!-- replies list -->
  <app-comments-list
    *ngIf="replies?.length"
    [authUser]="authUser"
    [comments]="replies"
    [isLoading]="isLoading$ | async"
    (clickViewReplies)="viewPreviousCommentReplies($event)"
  ></app-comments-list>
</section>

<!-- addComment form -->
<app-form-field
  [user]="authUser"
  [placeholder]="'Write your reply..'"
  (submitInput)="addNewReply($event)"
></app-form-field>
