.replies__list {
  margin-left: 3rem;
}
.paginator {
  margin-bottom: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
}
app-form-field {
  position: fixed;
  left: 1rem;
  right: 1rem;
  bottom: calc(60px + 1rem);
}