<div class="App">
  <div class="app__body">
    <!-- sidebar -->
    <div class="sidebar">
      <div class="sidebar__header">
        <div class="sidebar__header__user">
          <img src="assets/images/portrait.jpg" width="40" height="40" alt="avatar">
          <div class="meta">
            <h4>victoriaelizabeth</h4>
            <p>Victoria Elizabeth</p>
          </div>
        </div>
        <button mat-icon-button class="sidebar__header_options">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>

    <!-- content -->
    <div class="content">
      <!-- content header -->
      <div class="content__header">
        <div class="logo--text">instAngular</div>
        <button mat-icon-button class="logo--message">
          <mat-icon>message</mat-icon>
        </button>
      </div>

      <!-- content story -->
      <!-- <ul class="content__stories">
        <li class="story--list-item">
          <img src="assets/images/portrait.jpg" alt="story_user" />
          <mat-icon class="pointer">add</mat-icon>
          <div class="title">Your Story</div>
        </li>
        <li class="story--list-item">
          <img src="assets/images/portrait.jpg" class="pointer" alt="story_user" />
          <div class="title">Another</div>
        </li>
        <li class="story--list-item">
          <img src="assets/images/portrait.jpg" class="pointer" alt="story_user" />
          <div class="title">Another</div>
        </li>
        <li class="story--list-item">
          <img src="assets/images/portrait.jpg" class="pointer" alt="story_user" />
          <div class="title">Another</div>
        </li>
        <li class="story--list-item">
          <img src="assets/images/portrait.jpg" class="pointer" alt="story_user" />
          <div class="title">Another</div>
        </li>
        <li class="story--list-item">
          <img src="assets/images/portrait.jpg" class="pointer" alt="story_user" />
          <div class="title">Another</div>
        </li>
        <li class="story--list-item">
          <img src="assets/images/portrait.jpg" class="pointer" alt="story_user" />
          <div class="title">Another</div>
        </li>
        <li class="story--list-item">
          <img src="assets/images/portrait.jpg" class="pointer" alt="story_user" />
          <div class="title">Another</div>
        </li>
      </ul> -->

      <!-- post list -->
      <div class="content__posts">
        <div class="post--item">
          <div class="post--item-header">
            <img src="assets/images/portrait.jpg" class="pointer" alt="author image" height="40" width="40" />
            <a href="#">dualipa</a>
            <div class="fx-spacer"></div>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
          <div class="post--item-image">
            <img src="assets/images/post.jpeg" height="720" width="720" alt="post" />
          </div>
          <div class="post--item-buttons">
            <button mat-icon-button><mat-icon>favorite</mat-icon></button>
            <button mat-icon-button><mat-icon>message</mat-icon></button>
            <button mat-icon-button><mat-icon>share</mat-icon></button>
            <div class="fx-spacer"></div>
            <button mat-icon-button><mat-icon>save</mat-icon></button>
          </div>
          <div class="post--item-likes">
            <p>Liked by <b>davidbradley6</b> and <b>millions of others</b></p>
          </div>
          <div class="post--item-description">
            <p>
              <b>dualipa</b>&nbsp;
              Pandora Live Concert ❤ thank you for watching! Bts shot by <span class="mention">@nixielevinson</span>
            </p>
          </div>
          <p class="view-comments">View all 1,343 comments</p>
          <div class="add-comment">
            <img src="assets/images/portrait.jpg" height="40" width="40" alt="username" />
            <p>Add a comment...</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>