<div class="App">
  <div class="app__body">
    <!-- sidebar -->
    <div class="sidebar">
      <div class="sidebar__header">
        <div class="sidebar__header__user">
          <img
            [src]="authUser?.profilePicture"
            width="40"
            height="40"
            alt="avatar"
          />
          <div class="meta">
            <h4>{{ authUser?.username }}</h4>
            <p>{{ authUser?.fullName }}</p>
          </div>
        </div>
        <button mat-icon-button class="sidebar__header_options">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
      <div class="sidebar__menu-list">
        <button mat-button>Home</button>
        <button mat-button>Search</button>
        <button mat-button>Add Post</button>
        <button mat-button>Message</button>
        <button mat-button>Notifications</button>
      </div>
    </div>

    <!-- content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
