.App {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #dedede;
  height: 100vh;
  color: #464646;
  font-size: 21px;
}

.app__body {
  display: flex;
  background-color: #fff;
  height: 90vh;
  width: 70vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}

.sidebar {
  flex: 1;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar__header {
  max-height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar__header__user {
  width: 100%;
  display: flex;
  // align-items: center;
  img {
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid white;
  }
  .meta {
    padding: 0 1rem;
    h4 {
      margin: 0;
      line-height: 1.5rem;
    }
    p {
      margin: 0;
      font-size: 0.9rem;
      color: #a9a9a9;
    }
  }
}
.sidebar__menu--list {
  display: flex; // idk why
  align-items: center;
  // min-height: 80px;
  flex: 1;
  width: 100%;
  border-radius: 0;
  font-weight: bold;
  font-size: 1.4rem;
  mat-icon {
    margin-right: 1rem;
  }
}
.content {
  height: 100%;
  flex: 2;
  overflow-x: auto;
  // hide scroll
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
