<div class="App">
  <div [id]="isShrinkMode ? 'shrinkLayout' : ''" class="app__body">
    <!-- sidebar -->
    <div class="sidebar">
      <div class="sidebar__header">
        <div *ngIf="authUser$ | async as authUser" class="sidebar__header__user">
          <img
            [lazyLoad]="authUser.photoThumb"
            [defaultImage]="'assets/images/portrait.jpg'"
            [errorImage]="'assets/images/portrait.jpg'"
            width="40"
            height="40"
            alt="avatar"
          />
          <div class="meta">
            <h4 class="txt-1">{{ authUser.username | truncate:9 }}</h4>
            <p>{{ authUser.name | truncate:18 }}</p>
          </div>
        </div>
        <button
          (click)="switchLayoutMode()"
          mat-icon-button
          class="sidebar__header_options"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <ng-container *ngIf="authUser$ | async; else notAuthMenu;">
        <button *ngFor="let menu of menuItemsPrivate" [routerLink]="menu.routerLink" mat-button class="sidebar__menu--list">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span class="menu--label">{{ menu.label }}</span>
        </button>
      </ng-container>

      <ng-template #notAuthMenu>
        <button *ngFor="let menu of menuItemsPublic" [routerLink]="menu.routerLink" mat-button class="sidebar__menu--list">
          <mat-icon>{{ menu.icon }}</mat-icon>
          <span class="menu--label">{{ menu.label }}</span>
        </button>
      </ng-template>
    </div>

    <!-- content -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
