<div class="dialogPanel">
  <div class="dialogHeading">Update password</div>
  <form [formGroup]="formGroup">
    <!-- oldPassword -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        formControlName="oldPassword"
        matInput
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Enter password"
      />
      <mat-icon matSuffix (click)="showPassword = !showPassword">
        {{ showPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error *ngIf="oldPassword.invalid">{{ oldPasswordError }}</mat-error>
    </mat-form-field>

    <!-- new password -->
    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input
        formControlName="newPassword"
        matInput
        [type]="showNewPassword ? 'text' : 'password'"
        placeholder="Enter new password"
      />
      <mat-icon matSuffix (click)="showNewPassword = !showNewPassword">
        {{ showNewPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error *ngIf="newPassword.invalid">
        {{ newPasswordError }}
      </mat-error>
    </mat-form-field>

    <!-- new password -->
    <mat-form-field appearance="outline">
      <mat-label>Confirm new password</mat-label>
      <input
        formControlName="confirmNewPassword"
        matInput
        [type]="showConfirmNewPassword ? 'text' : 'password'"
        placeholder="Confirm new password"
      />
      <mat-icon matSuffix (click)="showConfirmNewPassword = !showConfirmNewPassword">
        {{ showConfirmNewPassword ? "visibility" : "visibility_off" }}
      </mat-icon>
      <mat-error *ngIf="confirmNewPassword.invalid">
        {{ confirmNewPasswordError }}
      </mat-error>
    </mat-form-field>

    <div class="form__action-buttons">
      <button
        (click)="submitForm()"
        mat-raised-button
        [disabled]="formGroup.invalid"
        type="submit"
        color="accent"
      >
        Submit
      </button>
      <button (click)="closeDialog()" type="button" mat-stroked-button>
        Close
      </button>
    </div>
  </form>
</div>
