.dialogHeading {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
form {
  width: 100%;
}
mat-form-field {
  width: 100%;
}
.form__action-buttons {
  button {
    width: 7rem;
    height: 3rem;
    font-weight: bold;
    margin-right: 1rem;
  }
}