<div class="container">
  <div class="photo__container" *ngIf="user">
    <img
      [lazyLoad]="user.photo"
      [defaultImage]="'assets/images/portrait.jpg'"
      [errorImage]="'assets/images/portrait.jpg'"
      [alt]="user.username"
      height="40"
      width="40"
    />
  </div>
  <form (ngSubmit)="onSubmitInput()">
    <input
      [(ngModel)]="commentInputText"
      [placeholder]="placeholder"
      autocomplete="off"
      name="inputText"
    />
    <button mat-icon-button type="submit">
      <mat-icon>send</mat-icon>
    </button>
  </form>
</div>
