section {
  display: flex;
  align-items: center;
  background-color: #fff;
}
form {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
input {
  padding: 1rem;
  width: -webkit-fill-available;
  border-radius: 2rem;
  outline: none;
  border: none;
  background-color: #f1f1f1;
  font-size: 14px;
  margin-right: .5rem;
}
