.view__prev__replies {
  font-size: small;
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: fit-content;
}
.replies__list {
  padding: 0;
  margin: 0.5rem 0;
  list-style: none;
}
.replies__list li {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  width: fit-content;
}
.replies__list li .username {
  margin: 0 0.5rem;
  font-weight: bold;
}
.replies__list li img {
  border-radius: 50%;
}
.textLimit1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1;
  max-height: 1 * 1;
}
.view__prev__replies,
.replies__list li {
  cursor: pointer;
}
