<!-- loading ph -->
<section>
  <div *ngIf="isLoading" class="loading">🎵 🎵</div>
</section>

<!-- comment row -->
<section>
  <app-comment-row
    *ngFor="let comment of comments"
    [comment]="comment"
    [bgClass]="getCommentClass(comment.commentedBy.username)"
    (contextmenu)="onContextMenu($event, comment)"
    (clickReact)="openReactionDialog($event)"
    (clickReply)="clickComment($event)"
    (clickReactionsCount)="viewCommentReactions($event)"
  >
    <!-- comment__replies -->
    <ng-container *ngIf="comment.replies && comment.replies.length">
      <app-replies-preview
        [commentId]="comment._id"
        [replies]="comment.replies"
        [repliesCount]="comment.repliesCount"
        (clickViewReplies)="onClickViewReplies($event)"
      >
      </app-replies-preview>
    </ng-container>
  </app-comment-row>
</section>

<!-- contextMenu -->
<div
  style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item (click)="onContextMenuEditAction(item)">Edit</button>
    <button mat-menu-item (click)="onContextMenuDeleteAction(item)">
      Delete
    </button>
  </ng-template>
</mat-menu>
