<div *ngIf="post && comments" class="comments__container">
  <!-- view all comments -->
  <div class="comment__paging">
    <p
      class="viewPrevComments"
      *ngIf="commentsHasNextPage"
      (click)="viewPostComments(post._id)"
    >
      <!-- View previous {{ remainingCommentsTotal }} comments -->
      View previous comments
    </p>
  </div>
  <div class="comments__list" *ngIf="post.commentsCount">
    <!-- loading ph -->
    <div *ngIf="isCommentsLoading" class="loading--ph">🎵 🎵</div>

    <!-- comment row -->
    <ng-container *ngFor="let comment of comments">
      <app-comment-row
        [comment]="comment"
        [bgClass]="getCommentClass(comment.commentedBy.username)"
        (contextmenu)="onContextMenu($event, comment)"
        (clickUsername)="viewUserProfile($event)"
        (clickReact)="openReactionDialog($event)"
        (clickReply)="clickComment($event)"
        (clickReactionsCount)="viewCommentReactions($event)"
      >
        <!-- comment__replies -->
        <ng-container *ngIf="comment.replies && comment.replies.length">
          <nsg-replies-preview
            [commentId]="comment._id"
            [replies]="comment.replies"
            [repliesCount]="comment.repliesCount"
            (onViewRepliesClicked)="viewCommentReplies($event)"
          >
          </nsg-replies-preview>
        </ng-container>
      </app-comment-row>
    </ng-container>

    <!-- contextMenu -->
    <div
      style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      [matMenuTriggerFor]="contextMenu"
    ></div>
    <mat-menu #contextMenu="matMenu">
      <ng-template matMenuContent let-item="item">
        <button mat-menu-item (click)="onContextMenuEditAction(item)">
          Edit
        </button>
        <button mat-menu-item (click)="onContextMenuDeleteAction(item)">
          Delete
        </button>
      </ng-template>
    </mat-menu>
  </div>
</div>
